<% title("About us") %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1><br>Helping professionals with their promotional and marketing needs</h1><br></div>
    <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
    <%= image_tag "http://goo.gl/kL127Q?gdriveurl", class: "img-responsive" %></div>
    <div class="col-sm-4">
      <h3> About Kateco </h3> 
      <p>Kate Connolly has made her career in the promotional marketing industry since 1995 and has initiated Kateco Marketing Group to represent some of the finest manufacturers in the field.</p>

<p>Kate is service minded, has lots of product knowledge and a "let's get it done" attitude. When she's not hard at work she's hard at play with her husband, Scott, and their daughter, Destin, loving life in Seattle.
         </p>
         <div voffset-40>
        <p><strong><%= link_to "<<Home", '/' %>  </strong></p>  
  </div>
  </div> 
</div>
</div>

