<% title("Contact us") %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1><br>Helping professionals with their promotional and marketing needs</h1><br>

    <p> This page is under construction. In the meantime, call Kate at 425.412.0825
    or email to katecomarketinggroup@gmail.com</p>
</div>
