<% title("Home Page") %>
<div class="row-fluid">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <h1><br>Helping professionals with their promotional and marketing needs</h1><br>
  </div>     
</div>

<div class="row-fluid">
  <div class="col-sm-4">
    <%= image_tag "https://notesincusa.com/kateco/kLQpp4y.jpg", class: "img-responsive" %>
      <h3>Lorem ipsum dolor sit amet</h3>
        <p>Consectetur adipiscing elit. Sed in mattis elit, a blandit felis. Curabitur varius dolor quis metus fermentum aliquam. Proin lorem ante, rhoncus non velit vitae, euismod blandit mauris. Nulla facilisi. Morbi aliquet ante a nulla convallis, eu finibus nibh lobortis. Integer a laoreet metus, non ullamcorper velit. Donec efficitur placerat nisl sed pellentesque. </p>
  </div>
  <div class="col-sm-4">
    <%= image_tag "https://s3-us-west-2.amazonaws.com/kateco/hehb5y1.jpg", class: "img-responsive" %>
      <h3>Phasellus dignissim ipsum id fringilla elementum </h3>
        <p>Curabitur porta non metus eu rhoncus. Aliquam risus leo, finibus id purus quis, rutrum auctor nibh. Aenean imperdiet convallis blandit. Duis at metus dolor. Nulla efficitur imperdiet justo ut sollicitudin. uris condimentum dictum. Suspendisse eu dui ligula.</p>
  </div>
  <div class="col-sm-4">
    <%= image_tag "https://s3-us-west-2.amazonaws.com/kateco/U5QtNCB.jpg", class: "img-responsive" %>
    <h3>Nunc vitae neque vulputate </h3> 
    <p> Ligula tincidunt finibus. In pharetra elementum ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla neque sed malesuada laoreet. Fusce arcu augue, mollis eget leo ut, congue posuere ipsum. Curabitur pretium arcu vitae eros tristique, sit amet maximus quam ultricies. Aenean non sapien lacus. </p>
  </div>

</div> 
