<% title("Home Page") %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1><br>Helping professionals with their promotional and marketing needs</h1><br>
  </div>     
</div>
<div class="clearall"></div>
<div class="row-fluid">
 <%= render 'manufacturers/manufacturers' %>
