<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
  <h1> Thank you for your message.</h1>
    <p> We'll get back to you soon.
  
  <br>
  <br>
    <strong><%=link_to "<<Back to Home page", '/' %></strong></p>
  </div>
</div>