<div id="footer">
    
    <div class="row-fluid">
    <hr> 
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; 2015 Kateco Marketing Group</small></p>
     
    </div>
  </div>
</div>
