
  <div class="row"> 
      <div class="col-m-3 offset-m-8">
        <p><strong>
        <%= link_to "About us", about_path %>  | 
        <%= link_to "Contact us", new_contact_path %> 
        </strong></p>
      </div>
  </div>
    