   
   
 <p><strong>
      <div class="col-sm-2 col-sm-offset-8">
        <%= link_to "About us", about_path %> </div>
      <div class="col-sm-2">
        <%= link_to "Contact us", contact_path %> </div></strong></p>
      